{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "react",
    "^(?!react)\\w+$",
    "^(?!next)\\w+$",
    "<THIRD_PARTY_MODULES>",
    "^@fontsource(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
